body, ul {
    margin: 0px;
    padding: 0px;
}

header {
    z-index: 1;
    background-color: #000000;
    height: 80px;
    width: 100vw;
}

.conteudo-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo {
    height: 110px;
}

.menu-header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0.3s;
}


* Início CSS Footer */
footer {
    height: 80px;
    background-color: #F9003D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ccarouselExampleInterval {
    position: relative;
    z-index: 10;
    gap: 0.5rem;
}
.carouselExampleInterval .carousel-item img {
    height: 500px;
}

footer span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90%;
    text-align: center;
}
