body, ul {
    background-color: #000000;
    font-style: inherit;
    font-size: medium;
    margin: 0px;
    padding: 0px;
}


    /*Inicio CSS Novidades*/
    #logo img {
        float: left;
        height: 105px;
        position: relative;
        top: 0px;
        left: 10px;
    }

    #header a {
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        font-size: x-large;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    #header {
        width: 100%;
        position: relative; /* Adicionando Position e Z-Index */
        z-index: 90;
        box-sizing: border-box;
        height: 105px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #000000;
    }
    #menu {
        display: flex;
        list-style: none;
        gap: 0.5rem;
    }
    
 /*Inicio CSS Galeria*/
    .galeria {
        margin: 0px auto 0px;
        background-color: #434469;
    }
    .galeria h2 {
        font-style: inherit;
        text-align: center;
        color: rgb(203, 238, 49);
        font-size: 26px;
    }
    .galeria p {
        text-align: auto;
        width: 50%;
        color: aliceblue;
        margin: 10px 5px 50px;
    }
    .galeria .gallery {
        width: 30%;
        margin: 14px auto 50px;
    }
    /*Fim CSS Galeria*/

    /*Banner*/

    .section-banner-home {
        width: 100%;
        height: auto;
        padding: 50px;
        margin: 18px auto;
        background-color: rgb(90, 10, 54);
    }
    .section-banner-home .texto-banner {
        margin-top: 30px;
        font-size: 22px;
    }
    .section-banner-home .texto-banner h1 {
        font-size: 30px;
        width: 60%;
        font-weight: 500;
        padding-bottom: 20px; /*Margem interna do texto*/
        color: #bdff06;
    }
    .section-banner-home .texto-banner p {
        font-size: 15px;
        margin-bottom: 20px; /*Margem externa abaixo do texto*/
        color: #fff;
    }
    .section-banner-home .texto-banner a {
        color: rgb(48, 51, 238);
        text-decoration: none;
        background-color: #fff;
        padding: 4px 14px;
        font-size: 15px;
    }


footer {
    height: 80px;
    background-color: #ff148b;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

footer span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 90%;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ccarouselExampleInterval {
    position: relative;
    z-index: 10;
    gap: 0.5rem;
}
.carouselExampleInterval .carousel-item img {
    height: 500px;
}

@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: 2px solid rgb(255, 255, 255);
    }
    #nav.active #menu {
        height: calc(100vh - 70px); 
        visibility: visible;
        overflow-y: hidden;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 25px;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: white;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: white;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    } 

}
    footer span {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 90%;
        text-align: center;
    }


    .contato {
        width: 100%;
        margin-left: auto;
    margin-right: auto;
}


.form_main {
    width: 100%;
}
.form_main h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}


.form{
        position: relative;
        width: 120%;
        padding: 12px 25px;
        margin: 8px 0;
        padding-top: 20%;
        box-sizing: border-box;
        left: 50px;
        height: auto;
    }
    
    .videos {
        /*width: 110%;
        position: relative;
        border: transparent;
        border-radius: 1px;*/
        position: relative;
        padding-bottom: 0;
        height: auto;
        max-width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .h1, h1 {
        text-decoration: solid;
        color-scheme: rgb(255, 0, 0);
    }

    .p {
        text-align: center;
        color: #000000;
    }
    
    .p {
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 600;
        align-content: flex-start;
    }

    .txt2:hover {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        color: #5793ef;
        transition: all 0.5s ease 0s;
    }
    /*Fim CSS Contato*/
    
    /*Inicio mapa CSS*/
    .map {
       /* min-width: 300px;
        min-height: 300px;*/
        width: auto;
        height: auto;
    }
     
    .map iframe {
        width: 100%;
        height: 100%;
    }
    .conteudo-resenha {
        display: flex;
        justify-content: space-between;
    }
 